{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrahead %}
  {{ block.super }}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
  {% include "admin/tg_change_form_light.html" %}
{% endblock %}

{% block extra_js %}
  {{ block.super }}
  <script src="{% static 'admin/group_permissions_duallist.js' %}"></script>
{% endblock %}
